.container
	.row
		.col-md-12.main-wrap
			.main-content
				.vc_row.vc_row-fluid
					.vc_col-sm-12
						.commerce
							.single-product
								.style-1.product
									.row.summary-container
										.col-md-6.col-sm-6.entry-image
											.single-product-images
												a(ng-href="/product/image/{{product.key}}",class="magnific-popup")
													img(ng-src="/product/image/{{product.key}}")
										.col-md-6.col-sm-6.entry-summary
											.summary
												h1.product_title.entry-title {{product.title}}
												p.price INR. {{product.price}}
												.product-excerpt(ng-bind-html="product.description")
												form(class="cart")
													.add-to-cart-table
														.quantity
															input(type="number",step="1" min="1",name="quantity",value="1",title="Qty",class="input-text qty text",ng-model="quantity",size="4")
														button(type="submit",class="button") Add to cart
									.related.products
										.related-title
											h3
												span Related Products
											ul.products.columns-4
												li(class="product",ng-repeat="product in relatedProducts")
													.product-container
														figure
															.product-wrap
																.product-images
																	.shop-loop-thumbnail.shop-loop-front-thumbnail
																		a(ng-href='/#!/product/{{product.key}}')
																			img(src='/product/image/thumb/{{product.key}}', height='400', width='450')
																	.shop-loop-thumbnail.shop-loop-back-thumbnail
																		a(ng-href='/#!/product/{{product.key}}')
																			img(src='/product/image/thumb/{{product.key}}',, height='400', width='450')
																.shop-loop-actions
																	a.add_to_cart_button.product_type_simple.product_type_simple(ng-href='/#!/product/{{product.key}}')
																		| View
																	a.shop-loop-quickview(href='#', data-original-title='Quick view')
																	.yith-wcwl-add-to-wishlist
																		.yith-wcwl-add-button
																			a.add_to_wishlist(href='#')
																				| Add to Wishlist
																	.clear
															figcaption
																.shop-loop-product-info
																	.info-title
																		h3.product_title
																			a(href='#')
																				| {{product.title}}
																	.info-meta
																		.info-price
																			span.price
																				span.amount
																					| {{product.price}} INR.
