.container
	.row
		.commerce.page-layout-left-sidebar
			.col-md-9.main-wrap
				.main-content
					.woo-content
						.shop-toolbar
							.view-mode
								a(class="mode-toggle grid-mode active",
									ng-click="toggleDisplayMode($event)",href="javascript:void(0);")
									i.fa.fa-th
								a(class="mode-toggle list-mode",
									ng-click="toggleDisplayMode($event)",href="javascript:void(0);")
									i.fa.fa-th-list
							form.commerce-ordering.clearfix
								div.commerce-ordering-select
									label.hide Sorting:
									.form-flat-select
										select(name="orderby",class="orderby",ng-model="sortOrder",ng-change="sortProducts(sortOrder)")
											option(value="", selected="selected") Default sorting
											option(value="price-asc") Sort By - Price Ascending
											option(value="price-desc") Sort By - Price Descending
						nav.commerce-pagination(ng-if="page<=pagerLength && total > 0")
							p.commerce-result-count
								| Showing {{ ((page-1)*limit)+1}}-{{(page*limit)> total? total:page*limit }} of {{total}} products
							.paginate
								.paginate_links(ng-if="pagerLength > 1")
									a(href="javascript:void(0);",ng-click="changePage($index+1)",ng-class="(n+1)==page ? 'page-numbers current' : 'page-numbers'",ng-repeat="n in [] | range:pagerLength"){{$index+1}}
						.shop-loop.grid
							p.alert.alert-info(ng-if="!total") No products were found matching your selection.

							ul.products
								li.product(ng-repeat="product in products")
									.product-container
										figure
											.product-wrap
												.product-images
													.shop-loop-thumbnail.shop-loop-front-thumbnail
														a(ng-href="/#!/product/{{product.key}}")
															img(src='/product/image/thumb/{{product.key}}',width="400",height="450")
													.shop-loop-thumbnail.shop-loop-back-thumbnail
														a(ng-href="/#!/product/{{product.key}}")
															img(src='/product/image/thumb/{{product.key}}',width="400",height="450")
												.shop-loop-actions
													a(href="#",class="add_to_cart_button product_type_simple") Add to cart
													a(ng-href="/#!/product/{{product.key}}",class="shop-loop-quickview product_type_simple", title="View")
													.yith-wcwl-add-to-wishlist
														.yith-wcwl-add-button
															a(class="add_to_wishlist",href="#") Add to wish lsit
													.clear
											figcaption
												.shop-loop-product-info
												.info-title
													h3.product_title
														a(href="#") {{product.title}}
												.info-meta
													.info-price
														span.price
															span.amount {{product.price}} INR.
						nav.commerce-pagination(ng-if="page<=pagerLength && total > 0")
							p.commerce-result-count
								| Showing {{ ((page-1)*limit)+1}}-{{(page*limit)> total? total:page*limit }} of {{total}} products
							.paginate
								.paginate_links(ng-if="pagerLength > 1")
									a(href="javascript:void(0);",ng-click="changePage($index+1)",ng-class="(n+1)==page ? 'page-numbers current' : 'page-numbers'",ng-repeat="n in [] | range:pagerLength"){{$index+1}}
			.col-md-3.sidebar-wrap
				.main-sidebar
					.widget.widget_product_categories
						h4.widget-title
							span Categories
						ul.product-categories
							li(ng-repeat="cat in categories",ng-class="filters.category==cat.key ? 'cat-item current-cat' : 'cat-item'")
								a(href="javascript:void(0);",ng-click="filterByCategory(cat.key)") {{cat.title}}
					.widget.widget_product_categories
						h4.widget-title
							span Brands
						ul.product-categories
							li(ng-repeat="brand in brands")
								input(type="checkbox",value="{{brand.key}}",ng-click="filterByBrands($event)")
								&nbsp;{{brand.title}}