meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible",content="IE=edge")
title= title
//Bootstrap css
link(rel="stylesheet", href="/bower_components/AdminLTE/bootstrap/css/bootstrap.min.css")
//Font Awesome
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css")
//Ionicons
link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css")
//Theme style
link(rel="stylesheet",href="/bower_components/AdminLTE/dist/css/AdminLTE.min.css")
link(rel="stylesheet",href="/bower_components/AdminLTE/dist/css/skins/_all-skins.min.css")
