ul.sidebar-menu
	li.header 
		h3 Manage Store 
	li(class=(base_route=="category")?"active":"")
		a(href="/backoffice/category")
			i.fa.fa-angle-double-right
			span Categories
	li(class=(base_route=="brand")?"active":"")
		a(href="/backoffice/brand")
			i.fa.fa-angle-double-right
			span Brands
	li(class=(base_route=="product")?"active":"")
		a(href="/backoffice/product")
			i.fa.fa-angle-double-right
			span Products