doctype html
html
	head
		include layout/header
	body(class="skin-blue fixed login-page")
		div.login-box
			div.login-logo
				b Store Login
			if typeof error!='undefined' && error
				div(class="alert alert-danger", role="alert")
					=error
			div.login-box-body
				form(id="login_form",action="/backoffice/login",method="POST")
					div.form-group
						label Username
						input(name="username",type="text",class="form-control",required)
					div.form-group
						label Password
						input(name="password",type="password",class="form-control",required)
					div.text-center
						button(type="submit",class="btn btn-block btn-flat btn-danger") Submit
		include layout/scripts